<div class="clearable">

<input [value]="value" type="search" class="form-control short-input clearable"
(focusout)="valSelected($event.target.value)"
[name]="cell.getId()"  [disabled]="!cell.isEditable()" (click)="onClick.emit($event)"
 (keydown.enter)="onEdited.emit($event)" (keydown.esc)="onStopEditing.emit()" (keyup)="updateValue()"
 [attr.list]="listIdent" placeholder="Search {{label}}..." (input)="valSelected($event.target.value)" #name>
<span class="fa fa-times-circle"  (click)="clearText()"></span>

  <datalist [id]="listIdent">
  <option *ngFor="let option of cell.getColumn().getConfig()?.list" [value]="option.value"
                 [selected]="option.value === cell.getValue()">{{ option.title }}
  </option>
</datalist>


</div>
